<html>
    <body>
      <h1>Assistants</h1>
     {% if message %}
      {{message}}
      {% endif %}
      {% for assistant in assistants %}
        <p>{{assistant.name}} {{assistant.surname}} 
          <button class="delete" data-target="/" data-method="DELETE" data-disabled="true" data-id="{{assistant.id}}">Delete Ressource</button>
        </p>
      {% endfor %}
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>

      <script>
          document.addEventListener("DOMContentLoaded", function (event) {
            var buttons_list = Array.from(document.getElementsByClassName("delete"));
            buttons_list.forEach(element => {
              element.addEventListener("click", function () {
                var assistant_id = element.getAttribute("data-id");
                if (confirm("Are you sure you want to remove this record?")) {
                  $.ajax({
                    url: '/assistants/' + assistant_id,
                    method: 'DELETE',
                  })
                    .done(function () {
                      console.log('deleted');
                      window.location.reload(true); 
                    });
                  }
                })
              })
            });
      </script>

    </body>
    
  </html>
  